In [1094]:
import pandas as pd
import numpy as np
df = pd.read_csv('train.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [1095]:
def print_nan_cols(df, moderate_only = False):
    values = list(zip(list(df.isnull().columns), list(df.isnull().any())))
    filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
    contains_nan = [y for x, y in filtered]
    proportion_nan = [sum(df[x].isnull()) / len(df[x]) for x, y in contains_nan]
    proportion_nan = [(x[0], proportion_nan[i]) for i, x in enumerate(contains_nan)]
    for col, propo_nan in proportion_nan:
        if abs(propo_nan) > 0.3 or moderate_only is False:
            print(col, ': ', propo_nan)
            
print_nan_cols(df, moderate_only=True)

Alley :  0.9376712328767123
FireplaceQu :  0.4726027397260274
PoolQC :  0.9952054794520548
Fence :  0.8075342465753425
MiscFeature :  0.963013698630137

In [1096]:
def print_moderate_correlations(df, col_to_correlate):
    cols = df[df.columns].corr().columns
    corrs = df[df.columns].corr()[col_to_correlate]
    for col, corr in zip(cols, corrs):
        if abs(corr) > 0.4 and col != col_to_correlate:
            print(col, ': ', corr)

In [1097]:
df['Alley'] = df['Alley'].astype("category").cat.codes
print_moderate_correlations(df, 'Alley')

In [1098]:
df['PoolQC'] = df['PoolQC'].astype("category").cat.codes
print_moderate_correlations(df, 'PoolQC')

PoolArea :  0.9384016221033975

In [1099]:
df[df['MiscFeature'] != np.nan].head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,-1,Reg,Lvl,AllPub,...,0,-1,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,-1,Reg,Lvl,AllPub,...,0,-1,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,-1,IR1,Lvl,AllPub,...,0,-1,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,-1,IR1,Lvl,AllPub,...,0,-1,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,-1,IR1,Lvl,AllPub,...,0,-1,NaN,NaN,0,12,2008,WD,Normal,250000

In [1100]:
df['MiscFeature'] = df['MiscFeature'].astype("category").cat.codes
print_moderate_correlations(df, 'MiscFeature')

In [1101]:
df['FireplaceQu'] = df['FireplaceQu'].astype("category").cat.codes
print_moderate_correlations(df, 'FireplaceQu')

GrLivArea :  0.4023950752243185
Fireplaces :  0.8240585192022061

In [1102]:
df['Fence'] = df['Fence'].astype("category").cat.codes
print_moderate_correlations(df, 'Fence')

In [1103]:
df = df.drop(columns=['Alley', 'Fence'])
df = df * 1

In [1104]:
print_nan_cols(df)

LotFrontage :  0.1773972602739726
MasVnrType :  0.005479452054794521
MasVnrArea :  0.005479452054794521
BsmtQual :  0.025342465753424658
BsmtCond :  0.025342465753424658
BsmtExposure :  0.026027397260273973
BsmtFinType1 :  0.025342465753424658
BsmtFinType2 :  0.026027397260273973
Electrical :  0.0006849315068493151
GarageType :  0.05547945205479452
GarageYrBlt :  0.05547945205479452
GarageFinish :  0.05547945205479452
GarageQual :  0.05547945205479452
GarageCond :  0.05547945205479452

In [1105]:
print_moderate_correlations(df, 'LotFrontage')

LotArea :  0.4260950187718087
1stFlrSF :  0.4571810019946558
GrLivArea :  0.40279741408532066

In [1106]:
df['LotFrontage'].head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [1107]:
values = list(zip(list(df.isnull().columns), list(df.isnull().any())))
filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
contains_nan = [y for x, y in filtered]
contains_nan

[('LotFrontage', True),
 ('MasVnrType', True),
 ('MasVnrArea', True),
 ('BsmtQual', True),
 ('BsmtCond', True),
 ('BsmtExposure', True),
 ('BsmtFinType1', True),
 ('BsmtFinType2', True),
 ('Electrical', True),
 ('GarageType', True),
 ('GarageYrBlt', True),
 ('GarageFinish', True),
 ('GarageQual', True),
 ('GarageCond', True)]

In [1108]:
predict_missing_df = df

for column, value  in contains_nan:
    predict_missing_df = predict_missing_df.drop(columns=[column])

In [1109]:
def convert_categorical_to_numbers(to_change_df):
    for col, dtype in zip(to_change_df.columns, to_change_df.dtypes):
        if (dtype == object):
            to_change_df[col] = to_change_df[col].astype('category')
    return pd.get_dummies(to_change_df)

In [1110]:
predict_missing_df = convert_categorical_to_numbers(predict_missing_df)

In [1111]:
predict_missing_df.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,8450,7,5,2003,2003,706,0,150,...,0,0,0,1,0,0,0,0,1,0
1,2,20,9600,6,8,1976,1976,978,0,284,...,0,0,0,1,0,0,0,0,1,0
2,3,60,11250,7,5,2001,2002,486,0,434,...,0,0,0,1,0,0,0,0,1,0
3,4,70,9550,7,5,1915,1970,216,0,540,...,0,0,0,1,1,0,0,0,0,0
4,5,60,14260,8,5,2000,2000,655,0,490,...,0,0,0,1,0,0,0,0,1,0

In [1112]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

def replace_missing_with_ml(df, predict_missing_df, col_to_predict, is_classify=False):

    predict_missing_df[col_to_predict] = df[col_to_predict]
    adjusted_missing = predict_missing_df[predict_missing_df[col_to_predict].isnull() == False]

    y = adjusted_missing[col_to_predict].values
    x = adjusted_missing.drop(columns=[col_to_predict]).values

    x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)
    
    if is_classify:
        rf = RandomForestClassifier(n_estimators=300, min_samples_leaf=5, random_state=42)
    else:
        rf = RandomForestRegressor(n_estimators=300, min_samples_leaf=5, random_state=42)
        
    rf.fit(x_train, y_train)
    r2 = r2_score(y_test, rf.predict(x_test))
    mse = mean_squared_error(y_test, rf.predict(x_test))
    rmse = mse**(1/2)
    print('R2          : ', round(r2, 4))
    print('RMSE        : ', round(rmse, 2))

    missing_df = predict_missing_df[predict_missing_df[col_to_predict].isnull()]
    x_missing = missing_df.drop(columns=[col_to_predict]).values
    predictions = rf.predict(x_missing).astype(int)

    df.loc[df[col_to_predict].isnull(), col_to_predict] = predictions
    
    predict_missing_df = predict_missing_df.drop(columns=[col_to_predict])
    return df, predict_missing_df

In [1113]:
print_nan_cols(df)

LotFrontage :  0.1773972602739726
MasVnrType :  0.005479452054794521
MasVnrArea :  0.005479452054794521
BsmtQual :  0.025342465753424658
BsmtCond :  0.025342465753424658
BsmtExposure :  0.026027397260273973
BsmtFinType1 :  0.025342465753424658
BsmtFinType2 :  0.026027397260273973
Electrical :  0.0006849315068493151
GarageType :  0.05547945205479452
GarageYrBlt :  0.05547945205479452
GarageFinish :  0.05547945205479452
GarageQual :  0.05547945205479452
GarageCond :  0.05547945205479452

In [1114]:
df, predict_missing_df = replace_missing_with_ml(df, predict_missing_df, 'LotFrontage')

R2          :  0.6017
RMSE        :  14.29

In [1115]:
df['MasVnrType'].head()

0    BrkFace
1       None
2    BrkFace
3       None
4    BrkFace
Name: MasVnrType, dtype: object

In [1116]:
df['MasVnrType'] = df['MasVnrType'].fillna('None')
df['MasVnrArea'] = df['MasVnrArea'].fillna(0)

In [1117]:
df['BsmtQual'].head()

0    Gd
1    Gd
2    Gd
3    TA
4    Gd
Name: BsmtQual, dtype: object

In [1118]:
df['BsmtQual'] = df['BsmtQual'].fillna('None')
df['BsmtCond'] = df['BsmtCond'].fillna('None')
df['BsmtExposure'] = df['BsmtExposure'].fillna('None')
df['BsmtFinType1'] = df['BsmtFinType1'].fillna('None')
df['BsmtFinType2'] = df['BsmtFinType2'].fillna('None')

In [1119]:
df['Electrical'].head()

0    SBrkr
1    SBrkr
2    SBrkr
3    SBrkr
4    SBrkr
Name: Electrical, dtype: object

In [1120]:
df['Electrical'] = df['Electrical'].fillna('None')

In [1121]:
df['MasVnrArea'].head()

0    196.0
1      0.0
2    162.0
3      0.0
4    350.0
Name: MasVnrArea, dtype: float64

In [1122]:
df['GarageYrBlt'].head()

0    2003.0
1    1976.0
2    2001.0
3    1998.0
4    2000.0
Name: GarageYrBlt, dtype: float64

In [1123]:
print_nan_cols(df)

GarageType :  0.05547945205479452
GarageYrBlt :  0.05547945205479452
GarageFinish :  0.05547945205479452
GarageQual :  0.05547945205479452
GarageCond :  0.05547945205479452

In [1124]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
                  ...
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu         int8
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC              int8
MiscFeature         int8
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 79, dtype: object

In [1125]:
df['GarageType'] = df['GarageType'].fillna('None')
df['GarageYrBlt'] = df['GarageYrBlt'].fillna(0)
df['GarageFinish'] = df['GarageFinish'].fillna('None')
df['GarageQual'] = df['GarageQual'].fillna('None')
df['GarageCond'] = df['GarageCond'].fillna('None')

In [1126]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,-1,-1,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,-1,-1,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,-1,-1,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,0,0,-1,-1,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,-1,-1,0,12,2008,WD,Normal,250000

In [1127]:
df = convert_categorical_to_numbers(df)

In [1128]:
df.dtypes

Id                         int64
MSSubClass                 int64
LotFrontage              float64
LotArea                    int64
OverallQual                int64
OverallCond                int64
YearBuilt                  int64
YearRemodAdd               int64
MasVnrArea               float64
BsmtFinSF1                 int64
BsmtFinSF2                 int64
BsmtUnfSF                  int64
TotalBsmtSF                int64
1stFlrSF                   int64
2ndFlrSF                   int64
LowQualFinSF               int64
GrLivArea                  int64
BsmtFullBath               int64
BsmtHalfBath               int64
FullBath                   int64
HalfBath                   int64
BedroomAbvGr               int64
KitchenAbvGr               int64
TotRmsAbvGrd               int64
Fireplaces                 int64
FireplaceQu                 int8
GarageYrBlt              float64
GarageCars                 int64
GarageArea                 int64
WoodDeckSF                 int64
                          ...
GarageQual_Ex              uint8
GarageQual_Fa              uint8
GarageQual_Gd              uint8
GarageQual_None            uint8
GarageQual_Po              uint8
GarageQual_TA              uint8
GarageCond_Ex              uint8
GarageCond_Fa              uint8
GarageCond_Gd              uint8
GarageCond_None            uint8
GarageCond_Po              uint8
GarageCond_TA              uint8
PavedDrive_N               uint8
PavedDrive_P               uint8
PavedDrive_Y               uint8
SaleType_COD               uint8
SaleType_CWD               uint8
SaleType_Con               uint8
SaleType_ConLD             uint8
SaleType_ConLI             uint8
SaleType_ConLw             uint8
SaleType_New               uint8
SaleType_Oth               uint8
SaleType_WD                uint8
SaleCondition_Abnorml      uint8
SaleCondition_AdjLand      uint8
SaleCondition_Alloca       uint8
SaleCondition_Family       uint8
SaleCondition_Normal       uint8
SaleCondition_Partial      uint8
Length: 285, dtype: object

In [1129]:
for col, dtype in zip(df.columns, df.dtypes):
    if dtype == 'int64':
        print(col)

Id
MSSubClass
LotArea
OverallQual
OverallCond
YearBuilt
YearRemodAdd
BsmtFinSF1
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
TotRmsAbvGrd
Fireplaces
GarageCars
GarageArea
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
MiscVal
MoSold
YrSold
SalePrice

In [1130]:
df = df.drop(columns=['Id'])

In [1131]:
# df['YearBuilt'] = df['YearBuilt'].astype('category')
df['PoolQC'] = df['PoolQC'].astype('category')
df['MiscFeature'] = df['MiscFeature'].astype('category')
df['FireplaceQu'] = df['FireplaceQu'].astype('category')
# df['YearRemodAdd'] = df['YearRemodAdd'].astype('category')
df['MoSold'] = df['MoSold'].astype('category')
# df['YrSold'] = df['YrSold'].astype('category')

In [1132]:
df = convert_categorical_to_numbers(df)

df.to_csv("clean_data.csv")

In [1133]:
df.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,MoSold_3,MoSold_4,MoSold_5,MoSold_6,MoSold_7,MoSold_8,MoSold_9,MoSold_10,MoSold_11,MoSold_12
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,0,0,0,0,0,0,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,1,0,0,0,0,0,0,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,0,0,0,1,0,0,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,0,0,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,0,0,0,0,0,0,1

In [1134]:
df.corr()['SalePrice']

MSSubClass              -0.084284
LotFrontage              0.351445
LotArea                  0.263843
OverallQual              0.790982
OverallCond             -0.077856
YearBuilt                0.522897
YearRemodAdd             0.507101
MasVnrArea               0.472614
BsmtFinSF1               0.386420
BsmtFinSF2              -0.011378
BsmtUnfSF                0.214479
TotalBsmtSF              0.613581
1stFlrSF                 0.605852
2ndFlrSF                 0.319334
LowQualFinSF            -0.025606
GrLivArea                0.708624
BsmtFullBath             0.227122
BsmtHalfBath            -0.016844
FullBath                 0.560664
HalfBath                 0.284108
BedroomAbvGr             0.168213
KitchenAbvGr            -0.135907
TotRmsAbvGrd             0.533723
Fireplaces               0.466929
GarageYrBlt              0.261366
GarageCars               0.640409
GarageArea               0.623431
WoodDeckSF               0.324413
OpenPorchSF              0.315856
EnclosedPorch           -0.128578
                           ...
SaleCondition_Family    -0.046480
SaleCondition_Normal    -0.153990
SaleCondition_Partial    0.352060
FireplaceQu_-1          -0.471908
FireplaceQu_0            0.255239
FireplaceQu_1           -0.026086
FireplaceQu_2            0.339329
FireplaceQu_3           -0.075916
FireplaceQu_4            0.163147
PoolQC_-1               -0.093708
PoolQC_0                 0.144146
PoolQC_1                 0.016127
PoolQC_2                 0.012038
MiscFeature_-1           0.072298
MiscFeature_0           -0.004744
MiscFeature_1           -0.040538
MiscFeature_2           -0.069771
MiscFeature_3            0.022773
MoSold_1                 0.005980
MoSold_2                -0.007355
MoSold_3                 0.008219
MoSold_4                -0.038774
MoSold_5                -0.043714
MoSold_6                -0.020324
MoSold_7                 0.029762
MoSold_8                 0.014185
MoSold_9                 0.039474
MoSold_10               -0.004354
MoSold_11                0.034001
MoSold_12                0.014465
Name: SalePrice, Length: 307, dtype: float64

In [1135]:
def get_moderate_corrs(df, col_to_correlate):
    cols = df[df.columns].corr().columns
    corrs = df[df.columns].corr()[col_to_correlate]
    for col, corr in zip(cols, corrs):
        if abs(corr) < 0.05 and col != col_to_correlate:
            df = df.drop(columns=[col])
    return df

In [1136]:
df = get_moderate_corrs(df, 'SalePrice')

In [1137]:
df.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,...,SaleCondition_Partial,FireplaceQu_-1,FireplaceQu_0,FireplaceQu_2,FireplaceQu_3,FireplaceQu_4,PoolQC_-1,PoolQC_0,MiscFeature_-1,MiscFeature_2
0,60,65.0,8450,7,5,2003,2003,196.0,706,150,...,0,1,0,0,0,0,1,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,284,...,0,0,0,0,0,1,1,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,434,...,0,0,0,0,0,1,1,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,540,...,0,0,0,1,0,0,1,0,1,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,490,...,0,0,0,0,0,1,1,0,1,0

In [1138]:
df.to_csv("clean_data.csv")