In [273]:
import pandas as pd
df = pd.read_csv('train.csv')

In [274]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [275]:
values = list(zip(list(df.isnull().columns), list(df.isnull().any())))
filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
contains_nan = [y for x, y in filtered]
contains_nan

[('LotFrontage', True),
 ('Alley', True),
 ('MasVnrType', True),
 ('MasVnrArea', True),
 ('BsmtQual', True),
 ('BsmtCond', True),
 ('BsmtExposure', True),
 ('BsmtFinType1', True),
 ('BsmtFinType2', True),
 ('Electrical', True),
 ('FireplaceQu', True),
 ('GarageType', True),
 ('GarageYrBlt', True),
 ('GarageFinish', True),
 ('GarageQual', True),
 ('GarageCond', True),
 ('PoolQC', True),
 ('Fence', True),
 ('MiscFeature', True)]

In [276]:
df[df.columns].corr()['SalePrice']

Id              -0.021917
MSSubClass      -0.084284
LotFrontage      0.351799
LotArea          0.263843
OverallQual      0.790982
OverallCond     -0.077856
YearBuilt        0.522897
YearRemodAdd     0.507101
MasVnrArea       0.477493
BsmtFinSF1       0.386420
BsmtFinSF2      -0.011378
BsmtUnfSF        0.214479
TotalBsmtSF      0.613581
1stFlrSF         0.605852
2ndFlrSF         0.319334
LowQualFinSF    -0.025606
GrLivArea        0.708624
BsmtFullBath     0.227122
BsmtHalfBath    -0.016844
FullBath         0.560664
HalfBath         0.284108
BedroomAbvGr     0.168213
KitchenAbvGr    -0.135907
TotRmsAbvGrd     0.533723
Fireplaces       0.466929
GarageYrBlt      0.486362
GarageCars       0.640409
GarageArea       0.623431
WoodDeckSF       0.324413
OpenPorchSF      0.315856
EnclosedPorch   -0.128578
3SsnPorch        0.044584
ScreenPorch      0.111447
PoolArea         0.092404
MiscVal         -0.021190
MoSold           0.046432
YrSold          -0.028923
SalePrice        1.000000
Name: SalePrice, dtype: float64

In [277]:
corrs = list(zip(df[df.columns].corr().columns, df[df.columns].corr()['SalePrice']))

In [278]:
import numpy as np
to_include = list(filter(lambda x: np.abs(x[1][1]) > 0.2, enumerate(corrs)))
to_include = [y[0] for x, y in to_include]
to_include

['LotFrontage',
 'LotArea',
 'OverallQual',
 'YearBuilt',
 'YearRemodAdd',
 'MasVnrArea',
 'BsmtFinSF1',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'GrLivArea',
 'BsmtFullBath',
 'FullBath',
 'HalfBath',
 'TotRmsAbvGrd',
 'Fireplaces',
 'GarageYrBlt',
 'GarageCars',
 'GarageArea',
 'WoodDeckSF',
 'OpenPorchSF',
 'SalePrice']

In [279]:
for column in df:
    if column not in to_include:
        df = df.drop(columns=[column])

In [280]:
df.head()

,LotFrontage,LotArea,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,TotalBsmtSF,1stFlrSF,...,FullBath,HalfBath,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,SalePrice
0,65.0,8450,7,2003,2003,196.0,706,150,856,856,...,2,1,8,0,2003.0,2,548,0,61,208500
1,80.0,9600,6,1976,1976,0.0,978,284,1262,1262,...,2,0,6,1,1976.0,2,460,298,0,181500
2,68.0,11250,7,2001,2002,162.0,486,434,920,920,...,2,1,6,1,2001.0,2,608,0,42,223500
3,60.0,9550,7,1915,1970,0.0,216,540,756,961,...,1,0,7,1,1998.0,3,642,0,35,140000
4,84.0,14260,8,2000,2000,350.0,655,490,1145,1145,...,2,1,9,1,2000.0,3,836,192,84,250000

In [281]:
df.dtypes

LotFrontage     float64
LotArea           int64
OverallQual       int64
YearBuilt         int64
YearRemodAdd      int64
MasVnrArea      float64
BsmtFinSF1        int64
BsmtUnfSF         int64
TotalBsmtSF       int64
1stFlrSF          int64
2ndFlrSF          int64
GrLivArea         int64
BsmtFullBath      int64
FullBath          int64
HalfBath          int64
TotRmsAbvGrd      int64
Fireplaces        int64
GarageYrBlt     float64
GarageCars        int64
GarageArea        int64
WoodDeckSF        int64
OpenPorchSF       int64
SalePrice         int64
dtype: object

In [282]:
values = list(zip(list(df.isnull().columns), list(df.isnull().any())))
filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
contains_nan = [y for x, y in filtered]
contains_nan

[('LotFrontage', True), ('MasVnrArea', True), ('GarageYrBlt', True)]

In [283]:
df['LotFrontage']

0        65.0
1        80.0
2        68.0
3        60.0
4        84.0
5        85.0
6        75.0
7         NaN
8        51.0
9        50.0
10       70.0
11       85.0
12        NaN
13       91.0
14        NaN
15       51.0
16        NaN
17       72.0
18       66.0
19       70.0
20      101.0
21       57.0
22       75.0
23       44.0
24        NaN
25      110.0
26       60.0
27       98.0
28       47.0
29       60.0
        ...
1430     60.0
1431      NaN
1432     60.0
1433     93.0
1434     80.0
1435     80.0
1436     60.0
1437     96.0
1438     90.0
1439     80.0
1440     79.0
1441      NaN
1442     85.0
1443      NaN
1444     63.0
1445     70.0
1446      NaN
1447     80.0
1448     70.0
1449     21.0
1450     60.0
1451     78.0
1452     35.0
1453     90.0
1454     62.0
1455     62.0
1456     85.0
1457     66.0
1458     68.0
1459     75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [284]:
df['LotFrontage'].head(10) # Linear feet of street connected to property
# Definitely correlated, might be better to be replaced depending on other row values
# For now, replace with median

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [285]:
df[df.columns].corr()['LotFrontage']

LotFrontage     1.000000
LotArea         0.426095
OverallQual     0.251646
YearBuilt       0.123349
YearRemodAdd    0.088866
MasVnrArea      0.193458
BsmtFinSF1      0.233633
BsmtUnfSF       0.132644
TotalBsmtSF     0.392075
1stFlrSF        0.457181
2ndFlrSF        0.080177
GrLivArea       0.402797
BsmtFullBath    0.100949
FullBath        0.198769
HalfBath        0.053532
TotRmsAbvGrd    0.352096
Fireplaces      0.266639
GarageYrBlt     0.070250
GarageCars      0.285691
GarageArea      0.344997
WoodDeckSF      0.088521
OpenPorchSF     0.151972
SalePrice       0.351799
Name: LotFrontage, dtype: float64

In [286]:
sum(df['LotFrontage'].isnull() / len(df['LotFrontage'])) 
# Looks like a large amount is missing, so the idea in above cell is worth looking into

0.17739726027397204

In [287]:
df['LotFrontage'] = df['LotFrontage'].fillna(df['LotFrontage'].median())

In [288]:
sum(df['MasVnrArea'].isnull() / len(df['MasVnrArea']))

0.00547945205479452

In [289]:
df['MasVnrArea'] = df['MasVnrArea'].fillna(df['MasVnrArea'].mode()[0])

In [290]:
sum(df['GarageYrBlt'].isnull() / len(df['GarageYrBlt']))

0.05547945205479444

In [291]:
df['GarageYrBlt'] = df['GarageYrBlt'].fillna(df['GarageYrBlt'].mode()[0])

In [292]:
df = df * 1

In [293]:
values = list(zip(list(df.isnull().columns), list(df.isnull().any())))
filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
contains_nan = [y for x, y in filtered]
contains_nan

[]

In [294]:
from sklearn.model_selection import train_test_split

y = df['SalePrice'].values
x = df.drop(columns=['SalePrice']).values

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)

In [302]:
# Here we make functions in order to evaluate many different classification models

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# Print out machine learning model metrics
def evaluation(y_actual, y_pred):
    
    r2 = r2_score(y_actual, y_pred)
    mse = mean_squared_error(y_actual, y_pred)
    rmse = mse**(1/2)
    print('R2          : ', r2)
    print('MSE         : ', mse)
    print('RMSE        : ', rmse)
    return [r2, mse, rmse]
      
def try_regressor(regressor, name):
    # Specify that these are global variables
    global x_train, y_train
    global x_test, y_test
    regressor.fit(x_train, y_train)
    print('Evaluation for', name, '\n')
    # Evaluate the test set
    metrics = evaluation(y_test, regressor.predict(x_test))
    return (metrics + [name])

# Make a list to store model evaluation metrics
regressor_results = list()

In [301]:
from sklearn.ensemble import RandomForestRegressor

rf_regr = RandomForestRegressor(n_estimators=100, min_samples_leaf=3, random_state=42)
regressor_results.append(try_regressor(rf_regr, 'Random Forest'))

Evaluation for Random Forest

Some Preds  :  [139015.01481782 315231.87201082 116248.71365135 153569.1240469
 319864.4397561   76204.10632423 204868.36507468 151802.65891414
  74801.6794733  125755.84010992]
Some Actual :  [154500 325000 115000 159000 315500  75500 311500 146000  84500 135500]
R2          :  0.880983650824355
MSE         :  833746308.2565233
RMSE        :  28874.665508998078

In [296]:
from sklearn.ensemble import AdaBoostRegressor

ada_regr = AdaBoostRegressor()
ada_regr.fit(x_train, y_train)
print(ada_regr.score(x_train, y_train))
print(ada_regr.score(x_test, y_test))

0.8686255998459607
0.8326898537765968