In [1]:
import pandas as pd
df = pd.read_csv('train.csv')

In [2]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
values = list(zip(list(df.isnull().columns), list(df.isnull().any())))
filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
contains_nan = [y for x, y in filtered]
contains_nan

[('LotFrontage', True),
 ('Alley', True),
 ('MasVnrType', True),
 ('MasVnrArea', True),
 ('BsmtQual', True),
 ('BsmtCond', True),
 ('BsmtExposure', True),
 ('BsmtFinType1', True),
 ('BsmtFinType2', True),
 ('Electrical', True),
 ('FireplaceQu', True),
 ('GarageType', True),
 ('GarageYrBlt', True),
 ('GarageFinish', True),
 ('GarageQual', True),
 ('GarageCond', True),
 ('PoolQC', True),
 ('Fence', True),
 ('MiscFeature', True)]

In [4]:
df['LotFrontage'].head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [5]:
sum(df['LotFrontage'].isnull())

259

In [6]:
df['LotFrontage'] = df['LotFrontage'].fillna(df['LotFrontage'].median())
df['LotFrontage'].head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7    69.0
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [7]:
sum(df['Alley'].isnull()) / len(df['Alley'])

0.9376712328767123

In [8]:
proportion_nan = [sum(df[x].isnull()) / len(df[x]) for x, y in contains_nan]
proportion_nan = [(x[0], proportion_nan[i]) for i, x in enumerate(contains_nan)]
proportion_nan

[('LotFrontage', 0.0),
 ('Alley', 0.9376712328767123),
 ('MasVnrType', 0.005479452054794521),
 ('MasVnrArea', 0.005479452054794521),
 ('BsmtQual', 0.025342465753424658),
 ('BsmtCond', 0.025342465753424658),
 ('BsmtExposure', 0.026027397260273973),
 ('BsmtFinType1', 0.025342465753424658),
 ('BsmtFinType2', 0.026027397260273973),
 ('Electrical', 0.0006849315068493151),
 ('FireplaceQu', 0.4726027397260274),
 ('GarageType', 0.05547945205479452),
 ('GarageYrBlt', 0.05547945205479452),
 ('GarageFinish', 0.05547945205479452),
 ('GarageQual', 0.05547945205479452),
 ('GarageCond', 0.05547945205479452),
 ('PoolQC', 0.9952054794520548),
 ('Fence', 0.8075342465753425),
 ('MiscFeature', 0.963013698630137)]

In [9]:
to_drop = list(filter(lambda x: x[1][1] > 0.4, enumerate(proportion_nan)))
to_drop = [y[0] for x, y in to_drop]

In [10]:
df = df.drop(columns=to_drop)

In [11]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'GarageType', 'GarageYrBlt', 'GarageFinish',
       'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PavedDrive',
       'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [12]:
values = list(zip(list(df.isnull().columns), list(df.isnull().any())))
filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
contains_nan = [y for x, y in filtered]
proportion_nan = [sum(df[x].isnull()) / len(df[x]) for x, y in contains_nan]
proportion_nan = [(x[0], proportion_nan[i]) for i, x in enumerate(contains_nan)]
proportion_nan

[('MasVnrType', 0.005479452054794521),
 ('MasVnrArea', 0.005479452054794521),
 ('BsmtQual', 0.025342465753424658),
 ('BsmtCond', 0.025342465753424658),
 ('BsmtExposure', 0.026027397260273973),
 ('BsmtFinType1', 0.025342465753424658),
 ('BsmtFinType2', 0.026027397260273973),
 ('Electrical', 0.0006849315068493151),
 ('GarageType', 0.05547945205479452),
 ('GarageYrBlt', 0.05547945205479452),
 ('GarageFinish', 0.05547945205479452),
 ('GarageQual', 0.05547945205479452),
 ('GarageCond', 0.05547945205479452)]

In [13]:
df['MasVnrType'].head(10)

0    BrkFace
1       None
2    BrkFace
3       None
4    BrkFace
5       None
6      Stone
7      Stone
8       None
9       None
Name: MasVnrType, dtype: object

In [14]:
df['MasVnrType'] = df['MasVnrType'].fillna('None')
df['MasVnrType'].head(10)

0    BrkFace
1       None
2    BrkFace
3       None
4    BrkFace
5       None
6      Stone
7      Stone
8       None
9       None
Name: MasVnrType, dtype: object

In [15]:
df['MasVnrArea'].head(10)

0    196.0
1      0.0
2    162.0
3      0.0
4    350.0
5      0.0
6    186.0
7    240.0
8      0.0
9      0.0
Name: MasVnrArea, dtype: float64

In [16]:
df['MasVnrArea'] = df['MasVnrArea'].fillna(df['MasVnrArea'].median())

In [17]:
proportion_nan[2:]

[('BsmtQual', 0.025342465753424658),
 ('BsmtCond', 0.025342465753424658),
 ('BsmtExposure', 0.026027397260273973),
 ('BsmtFinType1', 0.025342465753424658),
 ('BsmtFinType2', 0.026027397260273973),
 ('Electrical', 0.0006849315068493151),
 ('GarageType', 0.05547945205479452),
 ('GarageYrBlt', 0.05547945205479452),
 ('GarageFinish', 0.05547945205479452),
 ('GarageQual', 0.05547945205479452),
 ('GarageCond', 0.05547945205479452)]

In [18]:
df['BsmtQual'].head(10)

0    Gd
1    Gd
2    Gd
3    TA
4    Gd
5    Gd
6    Ex
7    Gd
8    TA
9    TA
Name: BsmtQual, dtype: object

In [19]:
df['BsmtQual'] = df['BsmtQual'].fillna(df['BsmtQual'].mode())

In [20]:
df['BsmtCond'].head(10)

0    TA
1    TA
2    TA
3    Gd
4    TA
5    TA
6    TA
7    TA
8    TA
9    TA
Name: BsmtCond, dtype: object

In [21]:
df['BsmtCond'] = df['BsmtCond'].fillna(df['BsmtCond'].mode())

In [22]:
proportion_nan[4:]

[('BsmtExposure', 0.026027397260273973),
 ('BsmtFinType1', 0.025342465753424658),
 ('BsmtFinType2', 0.026027397260273973),
 ('Electrical', 0.0006849315068493151),
 ('GarageType', 0.05547945205479452),
 ('GarageYrBlt', 0.05547945205479452),
 ('GarageFinish', 0.05547945205479452),
 ('GarageQual', 0.05547945205479452),
 ('GarageCond', 0.05547945205479452)]

In [23]:
df['BsmtExposure'].head(10)

0    No
1    Gd
2    Mn
3    No
4    Av
5    No
6    Av
7    Mn
8    No
9    No
Name: BsmtExposure, dtype: object

In [24]:
df['BsmtExposure'] = df['BsmtExposure'].fillna(df['BsmtExposure'].mode())

In [25]:
proportion_nan[5:]

[('BsmtFinType1', 0.025342465753424658),
 ('BsmtFinType2', 0.026027397260273973),
 ('Electrical', 0.0006849315068493151),
 ('GarageType', 0.05547945205479452),
 ('GarageYrBlt', 0.05547945205479452),
 ('GarageFinish', 0.05547945205479452),
 ('GarageQual', 0.05547945205479452),
 ('GarageCond', 0.05547945205479452)]

In [26]:
print(df[['BsmtFinType1', 'BsmtFinType2', 'Electrical', 'GarageType']].head(10))

  BsmtFinType1 BsmtFinType2 Electrical GarageType
0          GLQ          Unf      SBrkr     Attchd
1          ALQ          Unf      SBrkr     Attchd
2          GLQ          Unf      SBrkr     Attchd
3          ALQ          Unf      SBrkr     Detchd
4          GLQ          Unf      SBrkr     Attchd
5          GLQ          Unf      SBrkr     Attchd
6          GLQ          Unf      SBrkr     Attchd
7          ALQ          BLQ      SBrkr     Attchd
8          Unf          Unf      FuseF     Detchd
9          GLQ          Unf      SBrkr     Attchd

In [27]:
df['BsmtFinType1'] = df['BsmtFinType1'].fillna(df['BsmtFinType1'].mode())
df['BsmtFinType2'] = df['BsmtFinType2'].fillna(df['BsmtFinType2'].mode())
df['Electrical'] = df['Electrical'].fillna(df['Electrical'].mode())
df['GarageType'] = df['GarageType'].fillna(df['GarageType'].mode())

In [28]:
print(df[['GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond']].head(10))

   GarageYrBlt GarageFinish GarageQual GarageCond
0       2003.0          RFn         TA         TA
1       1976.0          RFn         TA         TA
2       2001.0          RFn         TA         TA
3       1998.0          Unf         TA         TA
4       2000.0          RFn         TA         TA
5       1993.0          Unf         TA         TA
6       2004.0          RFn         TA         TA
7       1973.0          RFn         TA         TA
8       1931.0          Unf         Fa         TA
9       1939.0          RFn         Gd         TA

In [29]:
df['GarageYrBlt'] = df['GarageYrBlt'].fillna(df['GarageYrBlt'].median())
df['GarageFinish'] = df['GarageFinish'].fillna(df['GarageFinish'].mode())
df['GarageQual'] = df['GarageQual'].fillna(df['GarageQual'].mode())
df['GarageCond'] = df['GarageCond'].fillna(df['GarageCond'].mode())

In [31]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [33]:
df = df * 1
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
                  ...
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 76, dtype: object

In [42]:
values = list(zip(list(df.columns), list(df.dtypes)))
filtered = list(filter(lambda x: x[1][1] == object, enumerate(values)))
col_objs = [y[0] for x, y in filtered]
col_objs

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [43]:
for column in col_objs:
    df[column] = df[column].astype('category').cat.codes

In [44]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,3,3,0,4,...,0,0,0,0,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,3,3,0,2,...,0,0,0,0,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,0,3,0,4,...,0,0,0,0,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,0,3,0,0,...,272,0,0,0,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,0,3,0,2,...,0,0,0,0,0,12,2008,8,4,250000

In [45]:
from sklearn.model_selection import train_test_split

y = df['SalePrice'].values
x = df.drop(columns=['SalePrice']).values

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)

In [49]:
from sklearn.ensemble import RandomForestRegressor

rf_regr = RandomForestRegressor(n_estimators=100, min_samples_leaf=3)
rf_regr.fit(x_train, y_train)
print(rf_regr.score(x_train, y_train))
print(rf_regr.score(x_test, y_test))

0.9572337763548976
0.8927218716950699

In [52]:
from sklearn.ensemble import AdaBoostRegressor

ada_regr = AdaBoostRegressor()
ada_regr.fit(x_train, y_train)
print(ada_regr.score(x_train, y_train))
print(ada_regr.score(x_test, y_test))

0.8759757234520705
0.8428379490327661

In [ ]:
def clean_test(df_test):