In [803]:
import pandas as pd
df = pd.read_csv('train.csv')
pd.options.mode.use_inf_as_na = True

In [804]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [805]:
values = list(zip(list(df.isnull().columns), list(df.isnull().any())))
filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
contains_nan = [y for x, y in filtered]
contains_nan

[('LotFrontage', True),
 ('Alley', True),
 ('MasVnrType', True),
 ('MasVnrArea', True),
 ('BsmtQual', True),
 ('BsmtCond', True),
 ('BsmtExposure', True),
 ('BsmtFinType1', True),
 ('BsmtFinType2', True),
 ('Electrical', True),
 ('FireplaceQu', True),
 ('GarageType', True),
 ('GarageYrBlt', True),
 ('GarageFinish', True),
 ('GarageQual', True),
 ('GarageCond', True),
 ('PoolQC', True),
 ('Fence', True),
 ('MiscFeature', True)]

In [806]:
df['LotFrontage'].head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [807]:
sum(df['LotFrontage'].isnull())

259

In [808]:
df['LotFrontage'] = df['LotFrontage'].fillna(df['LotFrontage'].median())
df['LotFrontage'].head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7    69.0
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [809]:
sum(df['Alley'].isnull()) / len(df['Alley'])

0.9376712328767123

In [810]:
proportion_nan = [sum(df[x].isnull()) / len(df[x]) for x, y in contains_nan]
proportion_nan = [(x[0], proportion_nan[i]) for i, x in enumerate(contains_nan)]
proportion_nan

[('LotFrontage', 0.0),
 ('Alley', 0.9376712328767123),
 ('MasVnrType', 0.005479452054794521),
 ('MasVnrArea', 0.005479452054794521),
 ('BsmtQual', 0.025342465753424658),
 ('BsmtCond', 0.025342465753424658),
 ('BsmtExposure', 0.026027397260273973),
 ('BsmtFinType1', 0.025342465753424658),
 ('BsmtFinType2', 0.026027397260273973),
 ('Electrical', 0.0006849315068493151),
 ('FireplaceQu', 0.4726027397260274),
 ('GarageType', 0.05547945205479452),
 ('GarageYrBlt', 0.05547945205479452),
 ('GarageFinish', 0.05547945205479452),
 ('GarageQual', 0.05547945205479452),
 ('GarageCond', 0.05547945205479452),
 ('PoolQC', 0.9952054794520548),
 ('Fence', 0.8075342465753425),
 ('MiscFeature', 0.963013698630137)]

In [811]:
to_drop = list(filter(lambda x: x[1][1] > 0.4, enumerate(proportion_nan)))
to_drop = [y[0] for x, y in to_drop]

In [812]:
df = df.drop(columns=to_drop)

In [813]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'GarageType', 'GarageYrBlt', 'GarageFinish',
       'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PavedDrive',
       'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [814]:
values = list(zip(list(df.isnull().columns), list(df.isnull().any())))
filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
contains_nan = [y for x, y in filtered]
proportion_nan = [sum(df[x].isnull()) / len(df[x]) for x, y in contains_nan]
proportion_nan = [(x[0], proportion_nan[i]) for i, x in enumerate(contains_nan)]
proportion_nan

[('MasVnrType', 0.005479452054794521),
 ('MasVnrArea', 0.005479452054794521),
 ('BsmtQual', 0.025342465753424658),
 ('BsmtCond', 0.025342465753424658),
 ('BsmtExposure', 0.026027397260273973),
 ('BsmtFinType1', 0.025342465753424658),
 ('BsmtFinType2', 0.026027397260273973),
 ('Electrical', 0.0006849315068493151),
 ('GarageType', 0.05547945205479452),
 ('GarageYrBlt', 0.05547945205479452),
 ('GarageFinish', 0.05547945205479452),
 ('GarageQual', 0.05547945205479452),
 ('GarageCond', 0.05547945205479452)]

In [815]:
df['MasVnrType'].head(10)

0    BrkFace
1       None
2    BrkFace
3       None
4    BrkFace
5       None
6      Stone
7      Stone
8       None
9       None
Name: MasVnrType, dtype: object

In [816]:
df['MasVnrType'] = df['MasVnrType'].fillna('None')
df['MasVnrType'].head(10)

0    BrkFace
1       None
2    BrkFace
3       None
4    BrkFace
5       None
6      Stone
7      Stone
8       None
9       None
Name: MasVnrType, dtype: object

In [817]:
df['MasVnrArea'].head(10)

0    196.0
1      0.0
2    162.0
3      0.0
4    350.0
5      0.0
6    186.0
7    240.0
8      0.0
9      0.0
Name: MasVnrArea, dtype: float64

In [818]:
df['MasVnrArea'] = df['MasVnrArea'].fillna(df['MasVnrArea'].median())

In [819]:
proportion_nan[2:]

[('BsmtQual', 0.025342465753424658),
 ('BsmtCond', 0.025342465753424658),
 ('BsmtExposure', 0.026027397260273973),
 ('BsmtFinType1', 0.025342465753424658),
 ('BsmtFinType2', 0.026027397260273973),
 ('Electrical', 0.0006849315068493151),
 ('GarageType', 0.05547945205479452),
 ('GarageYrBlt', 0.05547945205479452),
 ('GarageFinish', 0.05547945205479452),
 ('GarageQual', 0.05547945205479452),
 ('GarageCond', 0.05547945205479452)]

In [820]:
df['BsmtQual'].head(10)

0    Gd
1    Gd
2    Gd
3    TA
4    Gd
5    Gd
6    Ex
7    Gd
8    TA
9    TA
Name: BsmtQual, dtype: object

In [821]:
df['BsmtQual'] = df['BsmtQual'].fillna(df['BsmtQual'].mode())

In [822]:
df['BsmtCond'].head(10)

0    TA
1    TA
2    TA
3    Gd
4    TA
5    TA
6    TA
7    TA
8    TA
9    TA
Name: BsmtCond, dtype: object

In [823]:
df['BsmtCond'] = df['BsmtCond'].fillna(df['BsmtCond'].mode())

In [824]:
proportion_nan[4:]

[('BsmtExposure', 0.026027397260273973),
 ('BsmtFinType1', 0.025342465753424658),
 ('BsmtFinType2', 0.026027397260273973),
 ('Electrical', 0.0006849315068493151),
 ('GarageType', 0.05547945205479452),
 ('GarageYrBlt', 0.05547945205479452),
 ('GarageFinish', 0.05547945205479452),
 ('GarageQual', 0.05547945205479452),
 ('GarageCond', 0.05547945205479452)]

In [825]:
df['BsmtExposure'].head(10)

0    No
1    Gd
2    Mn
3    No
4    Av
5    No
6    Av
7    Mn
8    No
9    No
Name: BsmtExposure, dtype: object

In [826]:
df['BsmtExposure'] = df['BsmtExposure'].fillna(df['BsmtExposure'].mode())

In [827]:
proportion_nan[5:]

[('BsmtFinType1', 0.025342465753424658),
 ('BsmtFinType2', 0.026027397260273973),
 ('Electrical', 0.0006849315068493151),
 ('GarageType', 0.05547945205479452),
 ('GarageYrBlt', 0.05547945205479452),
 ('GarageFinish', 0.05547945205479452),
 ('GarageQual', 0.05547945205479452),
 ('GarageCond', 0.05547945205479452)]

In [828]:
print(df[['BsmtFinType1', 'BsmtFinType2', 'Electrical', 'GarageType']].head(10))

  BsmtFinType1 BsmtFinType2 Electrical GarageType
0          GLQ          Unf      SBrkr     Attchd
1          ALQ          Unf      SBrkr     Attchd
2          GLQ          Unf      SBrkr     Attchd
3          ALQ          Unf      SBrkr     Detchd
4          GLQ          Unf      SBrkr     Attchd
5          GLQ          Unf      SBrkr     Attchd
6          GLQ          Unf      SBrkr     Attchd
7          ALQ          BLQ      SBrkr     Attchd
8          Unf          Unf      FuseF     Detchd
9          GLQ          Unf      SBrkr     Attchd

In [829]:
df['BsmtFinType1'] = df['BsmtFinType1'].fillna(df['BsmtFinType1'].mode())
df['BsmtFinType2'] = df['BsmtFinType2'].fillna(df['BsmtFinType2'].mode())
df['Electrical'] = df['Electrical'].fillna(df['Electrical'].mode())
df['GarageType'] = df['GarageType'].fillna(df['GarageType'].mode())

In [830]:
print(df[['GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond']].head(10))

   GarageYrBlt GarageFinish GarageQual GarageCond
0       2003.0          RFn         TA         TA
1       1976.0          RFn         TA         TA
2       2001.0          RFn         TA         TA
3       1998.0          Unf         TA         TA
4       2000.0          RFn         TA         TA
5       1993.0          Unf         TA         TA
6       2004.0          RFn         TA         TA
7       1973.0          RFn         TA         TA
8       1931.0          Unf         Fa         TA
9       1939.0          RFn         Gd         TA

In [831]:
df['GarageYrBlt'] = df['GarageYrBlt'].fillna(df['GarageYrBlt'].median())
df['GarageFinish'] = df['GarageFinish'].fillna(df['GarageFinish'].mode())
df['GarageQual'] = df['GarageQual'].fillna(df['GarageQual'].mode())
df['GarageCond'] = df['GarageCond'].fillna(df['GarageCond'].mode())

In [832]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [833]:
df = df * 1
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
                  ...
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 76, dtype: object

In [834]:
values = list(zip(list(df.columns), list(df.dtypes)))
filtered = list(filter(lambda x: x[1][1] == object, enumerate(values)))
col_objs = [y[0] for x, y in filtered]
col_objs

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [835]:
for column in col_objs:
    df[column] = df[column].astype('category').cat.codes

In [836]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,3,3,0,4,...,0,0,0,0,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,3,3,0,2,...,0,0,0,0,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,0,3,0,4,...,0,0,0,0,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,0,3,0,0,...,272,0,0,0,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,0,3,0,2,...,0,0,0,0,0,12,2008,8,4,250000

In [837]:
from sklearn.model_selection import train_test_split

y = df['SalePrice'].values
x = df.drop(columns=['SalePrice', 'Id']).values

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)

In [838]:
from sklearn.ensemble import RandomForestRegressor

rf_regr = RandomForestRegressor(n_estimators=100, min_samples_leaf=3)
rf_regr.fit(x_train, y_train)
print(rf_regr.score(x_train, y_train))
print(rf_regr.score(x_test, y_test))

0.9556954951930218
0.8872398209991554

In [839]:
from sklearn.ensemble import AdaBoostRegressor

ada_regr = AdaBoostRegressor()
ada_regr.fit(x_train, y_train)
print(ada_regr.score(x_train, y_train))
print(ada_regr.score(x_test, y_test))

0.8795881642365888
0.8531752810906408

In [840]:
df_test = pd.read_csv('test.csv')
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [841]:
values = list(zip(list(df_test.isnull().columns), list(df_test.isnull().any())))
filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
contains_nan = [y for x, y in filtered]
proportion_nan = [sum(df_test[x].isnull()) / len(df_test[x]) for x, y in contains_nan]
proportion_nan = [(x[0], proportion_nan[i]) for i, x in enumerate(contains_nan)]
proportion_nan

[('MSZoning', 0.0027416038382453737),
 ('LotFrontage', 0.15558601782042494),
 ('Alley', 0.9266620973269363),
 ('Utilities', 0.0013708019191226869),
 ('Exterior1st', 0.0006854009595613434),
 ('Exterior2nd', 0.0006854009595613434),
 ('MasVnrType', 0.010966415352981495),
 ('MasVnrArea', 0.01028101439342015),
 ('BsmtQual', 0.03015764222069911),
 ('BsmtCond', 0.030843043180260453),
 ('BsmtExposure', 0.03015764222069911),
 ('BsmtFinType1', 0.02878684030157642),
 ('BsmtFinSF1', 0.0006854009595613434),
 ('BsmtFinType2', 0.02878684030157642),
 ('BsmtFinSF2', 0.0006854009595613434),
 ('BsmtUnfSF', 0.0006854009595613434),
 ('TotalBsmtSF', 0.0006854009595613434),
 ('BsmtFullBath', 0.0013708019191226869),
 ('BsmtHalfBath', 0.0013708019191226869),
 ('KitchenQual', 0.0006854009595613434),
 ('Functional', 0.0013708019191226869),
 ('FireplaceQu', 0.5003427004797807),
 ('GarageType', 0.0520904729266621),
 ('GarageYrBlt', 0.053461274845784786),
 ('GarageFinish', 0.053461274845784786),
 ('GarageCars', 0.0006854009595613434),
 ('GarageArea', 0.0006854009595613434),
 ('GarageQual', 0.053461274845784786),
 ('GarageCond', 0.053461274845784786),
 ('PoolQC', 0.997943797121316),
 ('Fence', 0.8012337217272104),
 ('MiscFeature', 0.9650445510623715),
 ('SaleType', 0.0006854009595613434)]

In [842]:
df_test = df_test.drop(columns=['Alley', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature'])

In [843]:
df_test['LotFrontage'] = df_test['LotFrontage'].fillna(df_test['LotFrontage'].median())
df_test['MasVnrType'] = df_test['MasVnrType'].fillna('None')
df_test['MasVnrArea'] = df_test['MasVnrArea'].fillna(df_test['MasVnrArea'].median())
df_test['BsmtQual'] = df_test['BsmtQual'].fillna(df_test['BsmtQual'].mode())
df_test['BsmtCond'] = df_test['BsmtCond'].fillna(df_test['BsmtCond'].mode())
df_test['BsmtExposure'] = df_test['BsmtExposure'].fillna(df_test['BsmtExposure'].mode())
df_test['BsmtFinType1'] = df_test['BsmtFinType1'].fillna(df_test['BsmtFinType1'].mode())
df_test['BsmtFinType2'] = df_test['BsmtFinType2'].fillna(df_test['BsmtFinType2'].mode())
df_test['Electrical'] = df_test['Electrical'].fillna(df_test['Electrical'].mode())
df_test['GarageType'] = df_test['GarageType'].fillna(df_test['GarageType'].mode())
df_test['GarageYrBlt'] = df_test['GarageYrBlt'].fillna(df_test['GarageYrBlt'].median())
df_test['GarageFinish'] = df_test['GarageFinish'].fillna(df_test['GarageFinish'].mode())
df_test['GarageQual'] = df_test['GarageQual'].fillna(df_test['GarageQual'].mode())
df_test['GarageCond'] = df_test['GarageCond'].fillna(df_test['GarageCond'].mode())

In [844]:
values = list(zip(list(df_test.columns), list(df_test.dtypes)))
filtered = list(filter(lambda x: x[1][1] == object, enumerate(values)))
col_objs = [y[0] for x, y in filtered]
for column in col_objs:
    df_test[column] = df_test[column].astype('category').cat.codes
df_test = df_test * 1

In [845]:
values = list(zip(list(df_test.isnull().columns), list(df_test.isnull().any())))
filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
contains_nan = [y for x, y in filtered]
proportion_nan = [sum(df_test[x].isnull()) / len(df_test[x]) for x, y in contains_nan]
proportion_nan = [(x[0], proportion_nan[i]) for i, x in enumerate(contains_nan)]
proportion_nan

[('BsmtFinSF1', 0.0006854009595613434),
 ('BsmtFinSF2', 0.0006854009595613434),
 ('BsmtUnfSF', 0.0006854009595613434),
 ('TotalBsmtSF', 0.0006854009595613434),
 ('BsmtFullBath', 0.0013708019191226869),
 ('BsmtHalfBath', 0.0013708019191226869),
 ('GarageCars', 0.0006854009595613434),
 ('GarageArea', 0.0006854009595613434)]

In [846]:
df_test[['BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF']].head()

   BsmtFinSF1  BsmtFinSF2  BsmtUnfSF  TotalBsmtSF
0       468.0       144.0      270.0        882.0
1       923.0         0.0      406.0       1329.0
2       791.0         0.0      137.0        928.0
3       602.0         0.0      324.0        926.0
4       263.0         0.0     1017.0       1280.0

In [847]:
df_test['BsmtFinSF1'] = df_test['BsmtFinSF1'].fillna(df_test['BsmtFinSF1'].median())
df_test['BsmtFinSF2'] = df_test['BsmtFinSF2'].fillna(df_test['BsmtFinSF2'].median())
df_test['BsmtUnfSF'] = df_test['BsmtUnfSF'].fillna(df_test['BsmtUnfSF'].median())
df_test['TotalBsmtSF'] = df_test['TotalBsmtSF'].fillna(df_test['TotalBsmtSF'].median())

In [848]:
df_test[['BsmtFullBath', 'BsmtHalfBath', 'GarageCars', 'GarageArea']].head()

   BsmtFullBath  BsmtHalfBath  GarageCars  GarageArea
0           0.0           0.0         1.0       730.0
1           0.0           0.0         1.0       312.0
2           0.0           0.0         2.0       482.0
3           0.0           0.0         2.0       470.0
4           0.0           0.0         2.0       506.0

In [849]:
df_test['BsmtFullBath'].fillna(df_test['BsmtFullBath'].median(), inplace=True)
df_test['BsmtHalfBath'].fillna(df_test['BsmtHalfBath'].median(), inplace=True)
df_test['GarageCars'].fillna(df_test['GarageCars'].median(), inplace=True)
df_test['GarageArea'].fillna(df_test['GarageArea'].median(), inplace=True)

In [850]:
df_test = df_test * 1
df_test.dtypes

Id                 int64
MSSubClass         int64
MSZoning            int8
LotFrontage      float64
LotArea            int64
Street              int8
LotShape            int8
LandContour         int8
Utilities           int8
LotConfig           int8
LandSlope           int8
Neighborhood        int8
Condition1          int8
Condition2          int8
BldgType            int8
HouseStyle          int8
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle           int8
RoofMatl            int8
Exterior1st         int8
Exterior2nd         int8
MasVnrType          int8
MasVnrArea       float64
ExterQual           int8
ExterCond           int8
Foundation          int8
BsmtQual            int8
                  ...
GrLivArea          int64
BsmtFullBath     float64
BsmtHalfBath     float64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual         int8
TotRmsAbvGrd       int64
Functional          int8
Fireplaces         int64
GarageType          int8
GarageYrBlt      float64
GarageFinish        int8
GarageCars       float64
GarageArea       float64
GarageQual          int8
GarageCond          int8
PavedDrive          int8
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType            int8
SaleCondition       int8
Length: 75, dtype: object

In [851]:
values = list(zip(list(df_test.isnull().columns), list(df_test.isnull().any())))
filtered = list(filter(lambda x: x[1][1] == True, enumerate(values)))
contains_nan = [y for x, y in filtered]
proportion_nan = [sum(df_test[x].isnull()) / len(df_test[x]) for x, y in contains_nan]
proportion_nan = [(x[0], proportion_nan[i]) for i, x in enumerate(contains_nan)]
proportion_nan

[]

In [858]:
df_sub = pd.read_csv('sample_submission.csv')
df_sub.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [859]:
df_sub['SalePrice'] = rf_regr.predict(df_test.drop(columns=['Id']).values)

In [860]:
df_sub.head()

     Id      SalePrice
0  1461  123732.075092
1  1462  155819.654385
2  1463  184335.138903
3  1464  186112.702152
4  1465  207753.733652

In [862]:
df_sub.to_csv('submission.csv')